<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>hello</title>
  <!-- 开发环境版本，包含了有帮助的命令行警告 -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
  <div id="app">
    <ul>
      <li :title="item" v-for="item in arr">{{item}}</li>
      <!-- index是数组的索引 -->
      <li :title="index" v-for="(item,index) in arr">{{index}}</li>
      <!-- 循环对象 -->
      <!-- 有三个参数：value key index -->
      <li v-for="(value,key,index) in obj">{{index}}</li>
    </ul>
  </div>

  <script>
    let app = new Vue({
      el: "#app",
      data: {
        arr: [1, 2, 3, 4, 5],
        obj: {
          x: "cc",
          y: 2,
          z: 3
        }
      },
      methods: {

      }
    })
  </script>
</body>

</html>